/* NAV */

.nav-bar {
	height: auto;
	line-height: 50px;
	background-color: #191919;
	margin-bottom: 0;
	box-sizing: border-box;
	font-size: 14px;
	color: white;
}

.title-area {
	float: left;
	margin: 0;
	list-style: none;
	line-height: 50px;
	height: 50px;
	font-family: inherit;
	padding: 0;
}

.main-icon {
	width: 30px;
	height: 30px;
	padding-top: 10px;
	padding-left: 2rem;
	float: left;
}

.nav-bar-section {
	display: inline;
	line-height: 50px;
}

.nav-bar-section ul li {
	display: inline-block;
	margin-left: 2rem;
}

.left {
	list-style-type: none;
	display: inline;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	line-height: 50px;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	margin: 0;
	float: left;
	position: relative;
	margin-left: 5rem;
	width: auto;
}

.right {
	list-style-type: none;
	display: inline;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	line-height: 50px;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	margin: 0;
	float: right;
}

a:link {
	text-decoration: none;
	color: #A5A5A5;
}

a:visited {
	color: #A5A5A5;
}

a:hover {
	color: white;
}

.panel {
	background-image: urL('/images/background.jpg');
	background-size: 1280px;
	background-position: 0 -1px;
	height: 500px;
	width: 100%;
}

.text-panel-wrap {
	margin-top: 10rem;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}


input[type="text"] {
	width: 400px;
	margin-top: 2rem;
	text-transform: capitalize;
	border-color: black;
	font-family: "rooney-sans",sans-serif;
	font-style: normal;
	font-weight: 200;
	font-style: bold;
	letter-spacing: 0.2rem;
	height: auto;
	font-size: 12px;
	margin-right: 0;
}

.caption {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	color: white;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
	font-size: 18px;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	margin: 0;
}

.motto {
	color: white;
	font-family: "rooney-sans",sans-serif;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.12rem;
	text-transform: uppercase;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	margin: 0;
}

.search-btn {
	margin: 0;
	height: 38px;
	background-color: #fa0008;
	border-style: none;
	font-family: "rooney-sans",sans-serif;
	font-style: normal;
	font-weight: 300;
	color: white;
}

.icons {
	height: 200px;
	text-align: center;
	display: -webkit-flex;
  	display: flex;
  	-webkit-flex-direction: row
  	flex-direction: row;
  	-webkit-align-items: center;
  	align-items: center;
  	-webkit-justify-content: center;
  	justify-content: center;
}

.icon {
	height: 75px;
	width: 75px;
}

.login {
	border-style: solid;
	padding: 0.8rem;
	border-width: 0.13rem;
	border-radius: 1rem;
}

.icon-text {
	margin: 1rem;
	font-family: "rooney-sans",sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 14px;
}


.lolol {
	background-color: white;
}

.icon-wrap {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
}