<head>

	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">

	<script src="//use.typekit.net/ycm0xvr.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<title>Loliday</title>

</head>

	<nav>
		<section class="twelve columns nav-bar">
			<ul class="title-area">
				<img class="main-icon" src="/images/logo.png"/>
			<section class="nav-bar-section">
				<ul class="left">
					<li><a class="menu-hover" href="#">Search</a></li>
					<li><a class="menu-hover" href="#">Explore</a></li>
					<li><a class="menu-hover" href="#">Magazine</a></li>
				</ul>
<!-- 				<ul class="right">
					<li class="menu-hover"><a href="#">How It Works</a></li>
					<li class="menu-hover"><a href="#" class="login">Login</a></li>
				</ul> -->

			</section>
		</section>
	</nav>

	<article class="container-">

		<section class="twelve columns panel">
			<section class="text-panel-wrap">
				<h1 class="motto">Your perfect holiday</h1>
				<h3 class="caption">Browse from over 3000 destinations</h3>
				<input class="search-field" type="text"></input>
				<button class="search-btn">Search</button>
				<!-- <button>Search</button> -->
			</section>
		
		</section>

		<!-- ICON WRAP -->

		<section class="four columns icons">
			<section class="icon-wrap">
			<img class="icon" src="/images/world.png"/><br>
			<h5 class="icon-text">500+ destinations</h5>
		</section>
		</section>
		<section class="four columns icons">
			<section class="icon-wrap">
			<img class="icon" src="/images/date.png"/><br>
			<h5 class="icon-text">Find your holiday</h5>
		</section>
		</section>
		<section class="four columns icons">
			<section class="icon-wrap">
			<img class="icon" src="/images/card.png"/><br>
			<h5 class="icon-text">Book immediately</h5>
		</section>
		</section>

	</article>

	<section class="six columns">

		Just for the Weekend<br>
		Discover new, inspiring places close to home.
	</section>

	<article>



	</article>

	<footer>
	</footer>