<head>

	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">

	<script src="//use.typekit.net/ycm0xvr.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

</head>

<nav>
	<section class="twelve columns nav-bar">
		<ul class="title-area">
			<img class="icon" src="/images/logo.png"/><h1 class="logo-text">LOLIDAY.com</h1>
		<section class="nav-bar-section">
			<ul class="left">
				<li><a href="#">Search</a></li>
				<li><a href="#">Explore</a></li>
				<li><a href="#">Magazine</a></li>
			</ul>
			<ul class="right">
				<li><a href="#">How It Works</a></li>
				<li><a href="#">List your space</a></li>
				<li><a href="#">Login</a></li>
			</ul>
		</section>
	</section>
</nav>