<head>

	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">

	<script src="//use.typekit.net/ycm0xvr.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<title>Loliday</title>

</head>

	<nav>
		<section class="twelve columns nav-bar">
			<ul class="title-area">
				<img class="main-icon" src="/images/logo.png"/>
			<section class="nav-bar-section">
				<ul class="left">
					<li><a href="#">Search</a></li>
					<li><a href="#">Explore</a></li>
					<li><a href="#">Magazine</a></li>
				</ul>
				<ul class="right">
					<li><a href="#">How It Works</a></li>
					<li><a href="#" class="login">Login</a></li>
				</ul>
			</section>
		</section>
	</nav>

	<article class="container-">

		<section class="twelve columns panel">
			<section class="text-panel-wrap">
				<h1 class="motto">Find your perfect holiday</h1>
				<h3 class="caption">Browse from over 3000 destinations</h3>
			</section>
		</section>

		<section class="four columns icons">
			<section class="icon-wrap">
			<img class="icon" src="/images/world.png"/><br>
			<h5 class="icon-text">Over 1,000 destinations</h5>
		</section>
		</section>
		<section class="four columns icons">
			<section class="icon-wrap">
			<img class="icon" src="/images/date.png"/><br>
			<h5 class="icon-text">Find your perfect holiday</h5>
		</section>
		</section>
		<section class="four columns icons">
			<section class="icon-wrap">
			<img class="icon" src="/images/card.png"/><br>
			<h5 class="icon-text">Book immediately</h5>
		</section>
		</section>

	</article>

	<footer>

	</footer>