<html>
<head>

	<link rel="stylesheet" type="text/css" href="/css/index.css">

	<script src="//use.typekit.net/ycm0xvr.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<title>Loliday</title>

</head>
<body>

	<nav>
		<section class="twelve columns nav-bar">
			<ul class="title-area">
				<img class="main-icon" src="/images/logo.png"/>
				<section class="nav-bar-section">
					<ul class="left">
						<li>
							<a class="menu-hover" href="#">
								Search
							</a>
						</li>
						<li>
							<a class="menu-hover" href="#">
								Explore
							</a>
						</li>
						<li>
							<a class="menu-hover" href="#">
								Magazine
							</a>
						</li>
					</ul>
				</section>
			</ul>
		</section>
	</nav>

	<article class="container-">
		<section class="twelve columns panel">
			<section class="text-panel-wrap">
				<h1 class="motto">
					Your perfect holiday
				</h1>
				<h3 class="caption">
					Browse from over 3000 destinations
				</h3>
				<input class="search-field">
				<input class="search-field">
				<button class="search-btn">
					Search
				</button>
				<p>
					Rocky Mountains, Canada
				</p>
			</section>
		</section>

		<article>
			<section class="four columns icons">
				<section class="icon-wrap">
					<img class="icon" src="/images/world.png"/>
					<br>
					<h5 class="icon-text">500+ destinations</h5>
				</section>
			</section>
		</article>

		<article>
			<section class="four columns icons">
				<section class="icon-wrap">
					<img class="icon" src="/images/date.png"/>
					<br>
					<h5 class="icon-text">
						Find your holiday
					</h5>
				</section>
			</section>
		</article>

		<article>
			<section class="four columns icons">
				<section class="icon-wrap">
					<img class="icon" src="/images/card.png"/>
					<br>
					<h5 class="icon-text">
						Book immediately
					</h5>
				</section>
			</section>
		</article>
	</article>

	<section class="twelve columns discover">
		<h4 class="discover-headline">
			Just for the Weekend
		</h4>
		<p class="discover-text">
			Discover new, inspiring places close to home.
		</p>
	</section>

	<footer>
		<section class="four columns ftr">
			<a class="ftr-text" href="#">
				Home
			</a>
			<br>
			<a class="ftr-text" href="#">
				Map
			</a>
			<br>
			<a class="ftr-text" href="#">
				Staff
			</a>
			<br>
			<a class="ftr-text" href="#">
				Careers
			</a>
			<hr align="left" class="ftr-rule">
		</section>
	</footer>

</body>
</html>